body{
    background-color: yellow;
}
h3{
    text-shadow: 0 0 3px rgb(255, 0, 85), 0 0 5px rgb(4, 4, 105);
}

img{
    border: solid 3px #CCC;
    -moz-box-shadow: 10px 10px 0px rgb(241, 153, 20);
    -webkit-box-shadow: 10px 10px 0px rgb(241,153,20);
    box-shadow: 10px 10px 0px rgb(241,153,20);
}


table#table1, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  table#table1, th, td {
    padding: 15px;
    text-align: left;
  }
  table#table1 tr:nth-child(odd) {
   background-color: rgb(243, 169, 8);
  }
  table#table1 th {
    background-color: rgb(238, 145, 24);
    color: white;
  }

  table#table1 tr:nth-child(even) {
    background-color: #e68a8a;
  }
  table#table1 tr:nth-child(odd) {
   background-color: #f4c0c0;
  }
  table#table1 th {
    background-color: #ec1616;
    color: white;
  }